@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-translate-x: -50%;
  --tw-translate-y: -50%;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
}

body {
  background-color: black;
}

.noise-bg {
  opacity: 0.2;
  filter: grayscale(100%);
  filter: url(#noise-bg-fx);
}

.blob {
  height: 0;
  margin-left: 9rem;
  margin-right: 9rem;
  opacity: 100%;
  overflow: visible;
  width: 0;
}

.gradient-green {
  border-radius: 9999px;
  flex-shrink: 0;
  position: absolute;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  background: radial-gradient(
    rgba(154, 238, 134, 0.8) 0,
    rgba(154, 238, 134, 0.799) 2%,
    rgba(153, 236, 133, 0.794) 4%,
    rgba(150, 232, 131, 0.779) 6%,
    rgba(145, 224, 126, 0.75) 8%,
    rgba(137, 211, 119, 0.702) 10%,
    rgba(124, 191, 108, 0.631) 12%,
    rgba(106, 163, 93, 0.532) 14%,
    rgba(83, 127, 72, 0.4) 16%,
    rgba(60, 90, 52, 0.268) 18%,
    rgba(42, 62, 37, 0.169) 20%,
    rgba(29, 42, 26, 0.098) 22%,
    rgba(21, 29, 19, 0.05) 24%,
    rgba(16, 21, 14, 0.021) 26%,
    rgba(13, 17, 12, 0.006) 28%,
    rgba(12, 15, 11, 0.001) 30%,
    rgba(12, 15, 11, 0) 32%,
    rgba(12, 15, 11, 0) 100%
  );
  /* background: radial-gradient(
    rgba(63, 94, 251, 1) 0%,
    rgba(89, 91, 231, 1) 16%,
    rgba(108, 89, 217, 1) 30%,
    rgba(135, 86, 197, 1) 42%,
    rgba(150, 84, 185, 1) 49%,
    rgba(163, 82, 175, 1) 53%,
    rgba(171, 81, 169, 1) 57%,
    rgba(188, 79, 156, 1) 66%,
    rgba(197, 78, 149, 1) 71%,
    rgba(208, 76, 140, 1) 77%,
    rgba(223, 74, 129, 1) 81%,
    rgba(252, 70, 107, 1) 100%
  ); */
  height: 4000px;
  opacity: 35%;
  width: 410vw;
}

.gradient-pink {
  --tw-translate-y: -50%;
  --tw-translate-x: -50%;
  background: radial-gradient(
    rgba(255, 177, 211, 0.8) 0,
    rgba(255, 177, 211, 0.799) 2%,
    rgba(253, 176, 209, 0.794) 4%,
    rgba(249, 173, 206, 0.779) 6%,
    rgba(240, 167, 198, 0.75) 8%,
    rgba(226, 157, 187, 0.702) 10%,
    rgba(204, 142, 169, 0.631) 12%,
    rgba(175, 122, 144, 0.532) 14%,
    rgba(135, 95, 111, 0.42) 16%,
    rgba(95, 67, 78, 0.268) 18%,
    rgba(66, 47, 53, 0.169) 20%,
    rgba(44, 32, 35, 0.098) 22%,
    rgba(30, 22, 24, 0.05) 24%,
    rgba(21, 16, 16, 0.021) 26%,
    rgba(17, 13, 13, 0.006) 28%,
    rgba(15, 12, 11, 0.001) 30%,
    rgba(15, 12, 11, 0) 32%,
    rgba(12, 15, 11, 0) 100%
  );
  border-radius: 9999px;
  flex-shrink: 0;
  height: 400px;
  opacity: 5%;
  position: absolute;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  width: 40vw;
}

.gradient-blue {
  --tw-translate-x: -50%;
  --tw-translate-y: -50%;
  border-radius: 9999px;
  flex-shrink: 0;
  position: absolute;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  background: radial-gradient(
    rgba(0, 212, 255, 0.8) 0,
    rgba(0, 212, 255, 0.799) 6.25%,
    rgba(0, 210, 253, 0.794) 12.5%,
    rgba(0, 207, 249, 0.779) 18.75%,
    rgba(1, 200, 240, 0.75) 25%,
    rgba(1, 188, 225, 0.702) 31.25%,
    rgba(3, 170, 204, 0.631) 37.5%,
    rgba(4, 146, 173, 0.532) 43.75%,
    rgba(6, 114, 133, 0.4) 50%,
    rgba(8, 81, 93, 0.268) 56.25%,
    rgba(9, 57, 62, 0.169) 62.5%,
    rgba(11, 39, 41, 0.098) 68.75%,
    rgba(11, 27, 26, 0.05) 75%,
    rgba(12, 20, 17, 0.021) 81.25%,
    rgba(12, 17, 13, 0.006) 87.5%,
    rgba(12, 15, 11, 0.001) 93.75%,
    rgba(12, 15, 11, 0) 100%
  );
  height: 800px;
  opacity: 15%;
  width: 70vw;
}
